/* =-========================================= */

.btn-submit {
    padding: 10px 20px;
    background: #FFF;
    border: #aaa 1px solid;
    border-radius: 4px;
    margin: 20px 0px;
}

#min {
    float: left;
    width: 80px;
    padding: 5px 18px;
    margin-right: 14px;
}

#slider-range {
    width: 55%;
    float: left;
}

#max {
    width: 80px;
    padding: 5px 12px;
}

.result {
    background: #ffdddd;
    padding: 20px;
    text-align: center;
    border-top: #d2aeb0 1px solid;
    color: #6f6e6e;
}

@font-face {
    font-family: 'Beckman Free';
    font-style: normal;
    font-weight: normal;
    src: local('Beckman Free'), url('Beckman-Free.woff') format('woff');
}

display-flex,
.header,
.form-group {
    display: flex;
}

list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.main {
    position: relative;
}

.container {
    width: 660px;
    background: rgba(29, 29, 29, 0.9);
    margin: 10px auto;
}

.filter-form {
    padding: 35px 70px 51px 70px;
}

input {
    border: none;
    background: rgb(30, 30, 30);
    border-radius: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 5px 20px;
    font-size: 16px;
    color: rgb(223, 223, 223);
    display: block;
    font-family: 'Beckman';
    position: relative;
    z-index: 9;
}

.submit {
    background: #CB9530;
    font-size: 20px;
    color: #fff;
    font-size: px;
    padding: 15px 20px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(179, 129, 37);
}

.form-group {
    align-items: center;
    justify-content: space-between;
}

.form-destination {
    width: 230px;
}

.form-submit {
    width: 140px;
}


/* filter icon */

#mbrapa {
    font-family: 'Beckman', sans-serif;
    color: black;
}

.box {
    display: block;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 0;
    padding: 3px 5px;
    display: inline-block;
    transition: all .5s;
}

.btn-white {
    background: rgb(208, 208, 208);
    background: radial-gradient(circle, rgba(208, 208, 208, 1) 0%, rgba(237, 237, 237, 1) 33%);
}

.btn:hover {
    box-shadow: 0px 10px 10px rgb(39, 39, 39);
    transform: translateY(-3px);
}

.btn:active {
    box-shadow: 0px 5px 10px rgb(39, 39, 39);
    transform: translateY(-1px);
}

.btn-bottom-animation-1 {
    animation: comeFromBottom 1s ease-out .8s;
}

.btn::after {
    content: "";
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after {
    background: rgb(208, 208, 208);
    background: radial-gradient(circle, rgba(208, 208, 208, 1) 0%, rgba(222, 222, 222, 1) 33%);
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}