/* Three columns side by side */

.button4 {
    display: inline-block;
    padding: 0.3em 1.2em;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    background-image: url("images/addtocart.png");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.button4 span {
    padding: 1.3em;
}

.button4:hover {
    border-color: #CB9530;
}

a {
    text-decoration: none;
}

#header-contact ul #cart_count {
    border-radius: 100%;
    font-size: 12px;
    background: #CB9530;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    font-size: 18px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.product-card {
    width: 350px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    display: inline-block;
    margin: 50px 12.8px;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: rgb(58, 128, 180);
    background: linear-gradient(90deg, rgba(58, 128, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}


/* Three columns side by side */